<form action="">
  <div class="container">
    <h1>Log in</h1>
    <p>Please use your username and password to login.</p>
    <hr>

    <label for="Username"><b>Email</b></label>
    <input type="text" placeholder="Enter username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="login">Log in</button>
  </div>

  <div class="">
    <p>Forget your password? <a href="#">Reset password</a>.</p>
  </div>
</form>