<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Turn off auto mapping to prevent incorrectly mapping columns -->
        <setting name="autoMappingBehavior" value="NONE" />
    </settings>
    <typeAliases>
        <typeAlias alias="TrackModel" type="com.vox.services.storage.sql.TrackModel"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="url" value="jdbc:sqlite:vox.sqlite"/>
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="username" value=""/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis-mappers/track-mapper.xml"/>
    </mappers>
</configuration>