<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Turn off auto mapping to prevent incorrectly mapping columns -->
        <setting name="autoMappingBehavior" value="NONE"/>
    </settings>
    <typeAliases>
        <typeAlias alias="AccountModel" type="com.verizonmedia.identity.services.storage.AccountModel"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="url" value="jdbc:mysql://identity-db:3306/identity"/>
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="username" value="identity"/>
                <property name="password" value="insecure_password"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis-mappers/account-mapper.xml"/>
    </mappers>
</configuration>